<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Document</title>
</head>

<body>
    <h1>Guess the Number</h1>
    <div id="tableNumber">
        <table id="table">
            <tr>
                <td>
                    <div id="fieldRan">Field</div>
                </td>
                <td>
                    <button id="button" onclick="numberClick()">Die auserw&auml;hlte Nummer</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" placeholder="0" max="20" min="1" id="value" onkeyup="numberChange()" autocomplete="off">
                </td>
                <td>
                    <div id="difference">
                        Difference
                    </div>
                </td>
            </tr>
            <tr>
                <td id="iq">
                    IQ
                </td>
                <td id="counter">0</td>
            </tr>
        </table>
    </div>
</body>
<script src="index.js"></script>

</html>